/* src/styles/App.css */
body, html {
    margin: 0;
    padding: 0;
    height: 100%;
    font-family: Arial, sans-serif;
    background-color: #f0f8ff;
}

.app-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh; /* Hace que el contenedor ocupe toda la altura de la ventana */
}

.main-content {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    gap: 40px; /* Espacio entre el formulario y la tabla */
    width: 80%;
    max-width: 1200px; /* Limita el tamaño máximo del contenedor */
    background-color: #ffffff;
    border-radius: 10px;
    padding: 40px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.form-container, .list-container {
    flex: 1;
    background-color: #ffffff;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    padding: 20px;
}

.form-container {
    max-width: 400px;
}

h2 {
    color: #007bff;
}

input {
    width: 100%;
    padding: 10px;
    margin: 10px 0;
    border: 1px solid #007bff;
    border-radius: 4px;
}

button {
    width: 100%;
    padding: 10px 15px;
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

button:hover {
    background-color: #0056b3;
}

.list-container {
    max-width: 700px; /* Asegura que la tabla tenga un tamaño considerable */
}

table {
    width: 100%;
    border-collapse: collapse;
}

th, td {
    border: 1px solid #ddd;
    padding: 12px; /* Aumenta el padding para mayor legibilidad */
    text-align: left;
}

th {
    background-color: #007bff;
    color: white;
}

tr:hover {
    background-color: #f1f1f1;
}

input[type="text"] {
    margin-bottom: 15px;
    padding: 10px;
    width: calc(100% - 20px); /* Calcula el ancho para que se ajuste bien */
    border-radius: 4px;
    border: 1px solid #007bff;
}
